#####################################
#   Dev tools                       #
#####################################
.idea
node_modules

#####################################
#   Compiled stuff                  #
#####################################
*.log
