.cartouche-enter {
  opacity: 0.01;
}

.cartouche-enter.cartouche-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.cartouche-leave {
  opacity: 1;
}

.cartouche-leave.cartouche-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}